$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import url(http://fonts.googleapis.com/css?family=Arimo);
// endbower
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Space out content a bit */
html, body {
}
body {
  background-color: #F7F7F7;
  font-family: 'ralewayregular';
}


$maincolor: #1da49e;

ul.list-group {
  list-style: none;
  li {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
}

span.badge {
  background-color: $maincolor;
  float: left;
  font-size: 30px;
  margin-right: 10px;
  padding: 10px 15px;
}
.btn-amar {
  background-color: $maincolor;
  color: white;
  padding: 6px;
  border-radius: 10px;
  font-family: 'ralewaybold';
  letter-spacing: 1px;
  font-size: 12px;
}

.btn-start-test {
  background-color: #363333;
  color: white;
  &:hover {
    background-color: $maincolor;
    color: white;
  }
}

.outer-wrapper {
  width: 1000px;
  margin: 10px auto; 
}

.logo-wrapper {
  /*background-color: red;*/
}

.header {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'ralewaylight';
}

.checklist-row , .test-progress {
  color: white;
  text-align: center;
  overflow: hidden;
}

.check-col {
  border-right: 1px dotted white;
  background-color: $maincolor;
  float: left;
  width: 200px;
  padding: 10px;
  font-size: 12px;
  position: relative;
  font-family: 'ralewayregular';
  span {  
    margin-top: 5px;
    display: block; 
    font-size: 16px;
  }
  img {
    width: 50%;
  }
}

#mobile-check {
  border-right: none;
  margin-right: 0;
}

.check {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  img {
    width: 50%;
    float: right;
  }
}

.test-wrapper {
  background-color: white;
  border: 1px solid #ddd;
  color: black;
  display: none;
  height: 450px;
  margin: 50px auto 0 auto;
  padding: 50px;
  position: relative;
  overflow: auto;
  .test-instructions {
    width: 45%;
    float: left;
    .test-title {
      margin-top: 0;
      font-size: 42px;
      font-family: 'ralewaylight';
    }
    .test-description {
      font-size: 16px;
      font-family: 'ralewaylight';
      line-height: 32px;
    }
  }
  .test-notes {
    margin-left: 5%;
    width: 60%;
    float: left;
    .list-group {
      list-style: none;
      li {
        margin-bottom: 5px;
        float: left;
      }
    }
    .badge {
      background-color: $maincolor;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 15px;
      margin-right: 5px;
      float: left;
    }
  }
  .test-bottom {
    float: left;
    bottom: 50px;
    position: absolute;
    width: 30%;
  }
}

.test-progress {
  display: none;
  padding: 0 !important;
  overflow: auto;
  .inner {
    margin: 0 auto;
  }
}

.btn-yellow {
  background-color: yellow;
  color: rgb(116, 87, 12);
}

#intro-descr {
  width: 50%;
}
#error-list-wrapper {
  width: 100%;
}
.error-list {
  border-bottom: 1px solid white;
  height: 50px;
  font-family: 'ralewaylight';
}

.error-input {
  background-color: #0D6373;
  width: 100%;
  height: 240px !important;
  color: white;
}

.screen-col {
  width: 30%;
  float: left;
}

#screen-col-2, #screen-col-3 {
  margin-left: 5%;
}

#screen-col-3 {
}

.screen-feed {
  width: 269px;
  height: 151px;
  background-color: crimson;
}

#screen-list-wrapper {
  width: 50%;
}

.webcam-feed {
  width: 200px;
  height: 150px;
  background-color: crimson;
}

.screen-instructions {
  background-color: #0D6373;
  color: white;
}

.enable-screensharing {
  float: left;
  img {
    width: 500px;  
  }
}

.relaunch-browser {
  float: left;
}

@media (min-width: 1152px) {
  .outer-wrapper {
    width: 1128px;
  }
  .check-col {
    width: 225.6px;
    padding: 36px 0;
    font-size: 16px;
    font-family: 'ralewaybold';
  }
  .check-col img {
    width: auto;
  }
  .test-wrapper {
  }
  .btn-amar {
    padding: 6px 12px;
    font-size: 12px;
  }
  .screen-feed {
    width: 308px;
    height: 173px;
  }
  .webcam-feed {
    width: 225px;
    height: 169px;
  }
}

@media (min-width: 1440px) {
  .outer-wrapper {
    width: 1416px;
  }
  .check-col {
    width: 283.2px;
    height: 180px;
    font-size: 16px;
  }
  .check-col img {
    width: auto;
  }
  .check img {
    width: 100%;
  }
  h1.test-title {
  font-size: 58px;
  margin: 0;
  }
  .test-description {
    font-size: 24px;
    line-height: 30px;
  }
  .btn-amar {
    padding: 6px 12px;
    font-size: 14px;
  }
  .screen-feed {
    width: 308px;
    height: 173px;
  }
  .webcam-feed {
    width: 225px;
    height: 169px;
  }
}
